<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mobile Sensors & Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mobile Sensors & Feedback</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Shake-to-Roll Dice</ion-card-title>
      <ion-card-subtitle>Shake device to roll</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-text color="primary" style="font-size: 10rem; display: block; margin: 0; line-height: 1; font-weight: normal;">
        {{ diceFaces[dice() - 1] }}
      </ion-text>

      <ion-button expand="block" (click)="roll()" [disabled]="!canRoll()">
        Manual Roll
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Accelerometer Data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>X Axis</ion-label>
          <ion-note slot="end" color="medium">{{ acceleration().x | number:'1.2-2' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Y Axis</ion-label>
          <ion-note slot="end" color="medium">{{ acceleration().y | number:'1.2-2' }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>